body {
    background-color: #e3d8ab;
    font-family: Helvetica, Sans-Serif;
    margin: 0;
}

p {
	font-size: 14px;
}

h2 {
    font-size: 32px;
}

.results {
    width: 60%;
    margin: 150px 10% 2% 25%;
}

.query {
    text-align: center;
    margin: 10% 10% 5%;
}

input[type = text] {
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type = submit] {
    width: 40%;
    padding: 5px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    align-items: center;
    transition-duration: 0.4s;
}

input:hover[type = submit] {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.footer {
    max-width: 5%;
    height: auto;
    width: auto;
}

li {
    font-size: 12px;
}

.results p {
    padding-left: 3%;
}

.results h4 {
    padding-left: 1%;
    margin: 0px;
}

.results h5 {
    padding-left: 2%;
    margin: 0px;
}

.img_tile {
    width: 30%;
    margin-right: 1%; 
    margin-top: 1%;
    display: inline-block;
    vertical-align: top;
}

.img_tile h4 {
    text-align: center;
}

.img_tile p {
    text-align: center;
}

.img_tile img:hover {
    opacity: .5;
}

.header {
    background-color: #556B2F;
    margin: 0% 0%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 125px;
    z-index: 99;
}

.header img {
    float: left;
    height: 100px;
    width: 75px;
    margin: 12px 0% 12px 30px;
}

h1.header {
    margin: 20px 0 0 130px;
    color: #eff5e7;
    height: 50px;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 125px;
    left: 0;
    background-color: #916451;
    overflow-x: hidden;
}

/*side navigation bar*/
.sidenav a {
    padding: 10px 5px 6px 16px;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    font-size: 20px;
    color: #eff5e7;
    display: block;
    transition-duration: 0.4s;
}

.sidenav a:hover {
    text-shadow: 0px 0px 5px #e3d8ab;
}

/*to help displace the anchor when the page jumping*/
a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

/*make sure this jump gets all the way to the top of the page*/
#top {
    display: block;
    position: relative;
    top: -230px;
    visibility: hidden;
}